.box {
    text-align:center;
    height:23.2px;
    padding:10px 20px;
    border:solid;
    border-width:2px;
    border-radius:10px;
    margin-top:30px;
    display:inline-block;
}
.smallbox {
    font-size:12px;
    padding:5px;
    border:solid;
    border-width:1px;
    display:inline-block;
}
.cardbox {
    text-align:center;
    padding:10px;
    border:solid;
    border-width:2px;
    border-radius:10px;
    margin-top:30px;
    display:inline-block;
}
.card {
    text-align:center;
    width:32px;
    padding:32px 15px;
    border:solid;
    border-width:2px;
    border-radius:8px;
    border-color:black;
    margin:5px;
    display:inline-block;
}
.button {
    text-align:center;
    background-color:#D3D3DF;
    height:23.2px;
    padding:10px 20px;
    border:solid;
    border-width:2px;
    border-radius:10px;
    margin-top:30px;
    display:inline-block;
}
.game {display:none}
.guide {display:none}
#main {display:block;}